:root {
    --mainDark: rgb(0, 0, 0);
    --mainWhite: white;
    --mainGrey: rgba(109, 109, 109);
    --mainLightGrey: rgba(172, 172, 172);
    --mainBlue: #007bff;
}

body {
    background: radial-gradient(#e5e5e5, #fff, #e5e5e5);
}


.underline {
    height: 4px;
    width: 4rem;
    background-color: black;
    margin-top: 1em;
    margin-bottom: 1em;
  }

.link:hover {
    color: var(--mainLightGrey) !important;
}

.navbar-toggler:focus {
    outline: none;
}

.navbar-toggler {
    border: none;
}

.logo-text {
    color: white;
    font-family: 'Praise', cursive;
    display: inline;
}

.c-logo {
    size: 7em;
}


.g-cont {
    height: 60vh;
    width: auto;
}

